fastapi
pydantic
httpx
pymongo
torch --index-url https://download.pytorch.org/whl/cu118
huggingface_hub
transformers
accelerate
dotenv
uvicorn
langchain_huggingface
langchain_chroma
langchain
python-jose
passlib
sentence-transformers
nltk